<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMSUNG LIONS</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/usercss/join_start.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>

</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="join">
                <h1>회원가입</h1>
                <br>
                <div class="title-box">
                    <h2>Samsung Lions 회원가입</h2><br>
                    <p>한국 최고의 프로야구단 라이온즈의 회원으로 가입하시면<br>재미있고 다양한 혜택을 누릴 수 있습니다.
                        <br>
                    <h1><br>지금 삼성라이온즈의 최강 10번타자가 되어보세요!</h1><br><br>
                    </p>
                </div>
                <div class="input-form">
                    <p class="title">*홈페이지 무료회원 가입안내*</p>
                    <div class="line-box">
                        <ul>
                            <li>
                                <strong>가입시기</strong>
                                <strong>혜택</strong>
                            </li>
                            <li>
                                <span>온라인 연중 모집</span>
                                <span>홈페이지 이용(홈페이지 회원은 유료회원과 다르게 입장권 및 상품할인 혜택이 없습니다. 회원카드 발급불가)</span>
                            </li>
                        </ul>
                    </div>
                    <p class="info-text">
                        <span>*홈페이지 무료회원도 유료회원으로 전환 가능<br>*로그인을 1년동안 1회 이상 이용하지 않은 회원은 자동 삭제 처리</span>
                    </p>
                    <br>
                    <div class="btn">
                        <a href="/user/children_join" class="btn1a">
                            <span>어린이회원</span>
                            <span>(14세 미만)</span>
                        </a>
                        <a href="/user/adult_join" class="btn2a">
                            <span>성인회원</span>
                            <span>(14세이상)</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--footer-->
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>    <!--footer-->
    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
    </script>
</div>
</body>
</html>