<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김태훈 상세 정보</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/detailcss/playerdetail.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>

    <!-- JS -->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="member-area">
                <div class="area1">

                    <div class="playerphoto">
                        <img src="/img/player/hitter/outfielder/타태훈.png" alt="김태훈 사진">
                    </div>
                    <div class="playercoment">
                        <div class="playername">
                            <div class="number">25</div>
                            <div>
                                <div class="koname">김태훈</div>
                                <div class="engname">Kim Tae-hoon</div>
                            </div>
                        </div>
                        <div class="playerinfo">외야수 / 우투좌타</div><br>
                        <div class="allinfo">
                            <div class="info1">
                                <div class="birth1">생 년 월 일</div>
                                <div class="height1">키 / 몸 무 게</div>
                                <div class="school1">출 신 학 교</div>
                                <div class="spec1">입 단 년 도</div>
                                <div class="pay1">연 봉</div>
                                <div class="comment">코 멘 트</div>
                            </div>
                            <div>
                                <div class="birth">&nbsp;: 1996년 03월 31일</div>
                                <div class="height">&nbsp;: 177cm / 78kg</div>
                                <div class="school">&nbsp;: 진흥초(안산리틀)-평촌중-유신고</div>
                                <div class="spec">&nbsp;: 2023년 입단</div>
                                <div class="pay">&nbsp;: 4100만원</div>
                            </div>
                        </div>
                        <span class="commenttext">2022년 삼성에 지명된 김태훈은 고교시절 공격형 내야수로 이름을 알렸다. 177cm에 78kg의 마른 체형에 비해 좋은 장타력을 갖고 있는 선수다. 발목 부상으로 고생했지만, 강한 손목힘과 파워로 좋은 타격 능력을 보여준다. 그동안은 실력을 보여줄 기회가 많이 없었지만 앞으로 엄청난 활약을 해줄 것을 기대한다.</span>
                        <div class="insta">
                            <a href="https://www.instagram.com/00_mong2/" target="_blank">
                                <img src="/img/insta.png" alt="인스타그램 아이콘">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="members-area">
                <th:block th:replace="~{fragments/outfielder_detail_slider :: outfielder_detail_sliderFragment}"></th:block>
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
        let slider = document.querySelector(".slider");
        let innerSlider = document.querySelector(".slider-inner");
        let pressed = false;
        let startX;
        let scrollLeft;

        slider.addEventListener("mousedown", (e) => {
            pressed = true;
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = innerSlider.offsetLeft;
            slider.classList.add("active");
        });

        slider.addEventListener("mouseleave", () => {
            pressed = false;
            slider.classList.remove("active");
        });

        slider.addEventListener("mouseup", () => {
            pressed = false;
            slider.classList.remove("active");
        });

        slider.addEventListener("mousemove", (e) => {
            if (!pressed) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = x - startX;
            innerSlider.style.left = `${scrollLeft + walk}px`;
            checkBoundary();
        });

        function checkBoundary() {
            let outer = slider.getBoundingClientRect();
            let inner = innerSlider.getBoundingClientRect();

            if (parseInt(innerSlider.style.left) > 0) {
                innerSlider.style.left = "0px";
            } else if (inner.right < outer.right) {
                innerSlider.style.left = `-${inner.width - outer.width}px`;

            }
        }

        // 중앙에 배치할 슬라이드 인덱스 설정
        const targetIndex = 4; // 중앙에 배치할 슬라이드의 인덱스 (0부터 시작)

        function centerSlide(index) {
            const slides = document.querySelectorAll('.slider-item');
            const targetSlide = slides[index];
            const sliderRect = slider.getBoundingClientRect();
            const targetRect = targetSlide.getBoundingClientRect();

            const offset = targetRect.left - sliderRect.left - (sliderRect.width / 2) + (targetRect.width / 2);
            innerSlider.scrollLeft += offset;
        }

        // 슬라이더 로드 후 중앙에 배치
        window.addEventListener('load', () => {
            centerSlide(targetIndex);
        });

    </script>
</div>
</body>
</html>
