<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인사말</title>

    <!-- Google Icon -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/clubcss/slintro.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/slick.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>

<body>

<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>

    <!-- main -->
    <main>
        <section>
            <img src="/img/캐치프레이즈.jpg" alt="">
            <h1> 삼성라이온즈는 경기를 이기거나 팬들을 열광시켜 드리겠습니다.</h1>
            <br>
            <h1>WIN OR WOW</h1>
        </section>
        <section>


            <div class="section1">
                <div class="section1-main">
                    <div class="section1-main2">
                        <img src="/img/유정근.png" alt="2003년 3월 5일 삼성라이온즈 구단주 현명관 사진과 사인">
                        <div>
                            <h2>삼성라이온즈 대표이사 유정근 입니다.</h2>
                            <br>
                            <p>1월 2일 라리온즈파크로 첫 출근하던 설렘이 여전히 생생한데, 어느새 개막이 눈앞으로 다가왔습니다.</p>
                            <br>
                            <p>저는 1~2군의 스프링 캠프를 보기 위해 호주 시드니와 일본 미야코지마, 미야자키를 차례로 찾았습니다.</p>
                            <p>굵은 땀방울을 흘리며 2024 시즌을 준비하는 선수들을 보며 기분 좋은 예감이 들었습니다.</p>
                            <p>그 예감이 팬 여러분들께 전달될 수 있도록 선수단은 3월 23일, 정규시즌 개막부터 치열하게 달릴 것 입니다.</p>
                            <p>언제나 뜨거운 성원을 보내주시는 팬 여러분, 삼성라이온즈가 여러분에게도 자부심이 될 수 있도록 최선을 다하겠습니다.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section>


            <div class="section2">
                <div class="section2-main">
                    <div class="section2-main2">
                        <img src="/img/단장.png" alt="2003년 3월 5일 삼성라이온즈 구단주 현명관 사진과 사인">
                        <div>
                            <h2>삼성라이온즈 단장 이종열 입니다.</h2>
                            <br>
                            <p>1월 2일 라이온즈파크로 첫 출근하던 설렘이 여전히 생생한데, 어느새 개막이 눈앞으로 다가왔습니다.</p>
                            <br>
                            <p>저는 1~2군의 스프링 캠프를 보기 위해 호주 시드니와 일본 미야코지마, 미야자키를 차례로 찾았습니다.</p>
                            <p>굵은 땀방울을 흘리며 2024 시즌을 준비하는 선수들을 보며 기분 좋은 예감이 들었습니다.</p>
                            <p>그 예감이 팬 여러분들께 전달될 수 있도록 선수단은 3월 23일, 정규시즌 개막부터 치열하게 달릴 것 입니다.</p>
                            <p>언제나 뜨거운 성원을 보내주시는 팬 여러분, 삼성라이온즈가 여러분에게도 자부심이 될 수 있도록 최선을 다하겠습니다.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </main>
</div>
<!-- main -->

<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>


</div>

</body>

<script>
    /*header*/
    document.querySelectorAll('.menu > li').forEach(menuItem => {
        menuItem.addEventListener('mouseenter', () => {
            document.querySelector('.hideback').classList.add('show-hideback');
        });

        menuItem.addEventListener('mouseleave', () => {
            document.querySelector('.hideback').classList.remove('show-hideback');
        });
    });
    /*//header*/
</script>
<script>
    window.onload = function () {
        const elm = document.querySelectorAll("section");
        const elmCount = elm.length;
        elm.forEach(function (item, index) {
            item.addEventListener("mousewheel", function (event) {
                event.preventDefault();
                let delta = 0;
                if (!event) event = window.event;
                if (event.wheelDelta) {
                    delta = event.wheelDelta / 120;
                    if (window.opera) delta = -delta;
                } else if (event.detail) delta = -event.detail / 3;

                let moveTop = window.scrollY;
                let elmSelector = elm[index];

                // wheel down : move to next section
                if (delta < 0) {
                    // 이동할 섹션이 더 있는지 확인
                    if (index !== elmCount - 1) {
                        try {
                            moveTop =
                            window.pageYOffset +
                            elmSelector.nextElementSibling.getBoundingClientRect().top;
                        } catch (e) {}
                    } else {
                        // 마지막 섹션인 경우 페이지 끝으로 스크롤
                        moveTop = document.body.scrollHeight;
                    }
                }

                // wheel up : move to previous section
                else {
                    // 이동할 섹션이 있는지 확인
                    if (index !== 0) {
                        try {
                            moveTop =
                            window.pageYOffset +
                            elmSelector.previousElementSibling.getBoundingClientRect().top;
                        } catch (e) {}
                    } else {
                        // 첫 번째 섹션인 경우 페이지 상단으로 스크롤
                        moveTop = 0;
                    }
                }

                const body = document.querySelector("html");
                window.scrollTo({ top: moveTop, left: 0, behavior: "smooth" });
            });
        });
    };
</script>


</html>