@charset "utf-8";
@font-face {
    font-family: 'PreT';
    font-weight: 100;
    font-style: normal;
    src: url('../../font/Pretendard-Thin.eot');
    src: local('��'),
    url('../../font/Pretendard-Thin.woff') format('woff'),
    url('../../font/Pretendard-Thin.woff2') format('woff2'),
    url('../../font/Pretendard-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Pre';
    font-weight: 300;
    font-style: normal;
    src: url('../../font/Pretendard-Light.eot');
    src: local('��'),
    url('../../font/Pretendard-Light.woff') format('woff'),
    url('../../font/Pretendard-Light.woff2') format('woff2'),
    url('../../font/Pretendard-Light.otf') format('opentype');
}

@font-face {
    font-family: 'PreR';
    font-weight: 400;
    font-style: normal;
    src: url('../../font/Pretendard-Regular.eot');
    src: local('��'),
    url('../../font/Pretendard-Regular.woff') format('woff'),
    url('../../font/Pretendard-Regular.woff2') format('woff2'),
    url('../../font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PreM';
    font-weight: 600;
    font-style: normal;
    src: url('../../font/Pretendard-Medium.eot');
    src: local('��'),
    url('../../font/Pretendard-Medium.woff') format('woff'),
    url('../../font/Pretendard-Medium.woff2') format('woff2'),
    url('../../font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PreSB';
    font-weight: 700;
    font-style: normal;
    src: url('../../font/Pretendard-SemiBold.eot');
    src: local('��'),
    url('../../font/Pretendard-SemiBold.woff') format('woff'),
    url('../../font/Pretendard-SemiBold.woff2') format('woff2'),
    url('../../font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'PreEB';
    font-weight: 900;
    font-style: normal;
    src: url('../../font/Pretendard-ExtraBold.eot');
    src: local('��'),
    url('../../font/Pretendard-ExtraBold.woff') format('woff'),
    url('../../font/Pretendard-ExtraBold.woff2') format('woff2'),
    url('../../font/Pretendard-ExtraBold.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
}

.wrapper > main {
    padding: 0;
    height: 1200px;
    background: url('../../img/하늘2.jpg') left top no-repeat,
    url('../../img/하늘1.jpg') right top no-repeat;
    /*url('../../img/backgroundex1.jpg') no-repeat ;*/

    background-color: rgba(255, 255, 255, 0.7);
    background-size: 220px 100%, 220px 100%, 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 0;
}

section {
    margin: auto;
    margin-top: 0;
    width: 100%;
    margin-left: 220px;
    margin-right: 220px;
}

.banner {
    width: 1463px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > img {

}

section > .fmain_top > div > div > a > img {
    width: 500px;
    height: 300px;
}

section > .fmain_top > div > div > a {
    display: block;
    width: 500px;
    height: 300px;
    z-index: 4;
}
section > .fmain_bottom > div > div > a > img {
    width: 500px;
    height: 300px;
}

section > .fmain_bottom > div > div > a {
    display: block;
    width: 500px;
    height: 300px;
    z-index: 4;
}

.span {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

span {
    font-family: 'PreM';
    margin-top: 5px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 2rem;
}

.subtext {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fmain_top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
}


.fmain_bottom {
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
}
.fmain_board {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.fmain_board > .board_main {
    width: 1200px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.fmain_board > .board_main > .span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fmain_board > .board_main > .board-container {
    width: 100%;
    position: relative;
}

.fmain_board > .board_main > .board-container > .board {
    border: 1px solid black;
    height: 300px;
    width: 100%;
}

.fmain_board > .board_main > .board-container > .board-link {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 0.8rem;
    color: #1b41ff;
    text-decoration: none;
    border: 1px solid #1b41ff;
    border-radius: 5px;
    padding: 5px 10px;
}

.fmain_board > .board_main > .board-container > .board-link:hover {
    background-color: #1b41ff;
    color: white;
}
