<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>갤러리</title>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <link rel="stylesheet" type="text/css" href="/css/fancss/fan_gallery.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>

</head>
<body>
<div class="wrapper">
    <th:block th:replace="fragments/nav :: navFragment"></th:block>
    <main>
        <section class="titlebox">
            <div class="titlearea"><h1>갤러리</h1></div>
        </section>
        <section>
            <div class="galleryline">
                <div class="photoline">
                    <div class="photo">
                        <img src="/img/gal/gal1.jpg" alt="사진 1">
                    </div>
                    <div class="photo">
                        <img src="/img/gal/gal2.jpg" alt="사진 2">
                    </div>
                    <div class="photo">
                        <img src="/img/gal/gal3.jpg" alt="사진 3">
                    </div>
                </div>
                <div class="explainline">
                    <div class="explain"></div>
                    <div class="explain"></div>
                    <div class="explain"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="galleryline">
                <div class="photoline">
                    <div class="photo">
                        <img src="/img/gal/gal4.jpg" alt="사진 4">
                    </div>
                    <div class="photo">
                        <img src="/img/gal/gal5.jpg" alt="사진 5">
                    </div>
                    <div class="photo">
                        <img src="/img/gal/gal6.jpg" alt="사진 6">
                    </div>
                </div>
                <div class="explainline">
                    <div class="explain"></div>
                    <div class="explain"></div>
                    <div class="explain"></div>
                </div>
            </div>
        </section>
    </main>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
    </script>
</div>
</body>
</html>
