<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Cheer Main</title>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <link rel="stylesheet" type="text/css" href="/css/fancss/fan_cheermain.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>

</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="titlebox-cheer">
                <div class="titlearea-cheer"><h2>응원단</h2><br>
                    <h1>야구의 또다른 재미 SAMSUNG LIONS를 더욱 빛내 주는 응원단을 소개합니다</h1></div>
            </div>
            <div class="leaderbox">
                <div class="leaderinfo">
                    <div class="leadername">김상헌</div>
                    <div class="leadereng">Kim Sang-heon</div>
                </div>
                <div class="leaderphoto">
                    <a href="/detail/cheer/KimSangheon">자세히 보기</a>
                    <img src="/img/fan/KimSangheon2.png" alt="김상헌">
                </div>
                <div class="leaderdetails">
                    <div class="motto">
                        <div>좌우명</div>
                        <span>필요한 사람이 되자</span>
                    </div>
                    <hr>
                    <div class="resolution">
                        <div>2024 시즌 각오</div>
                        <span>오늘의 경기가 최고가 될 수 있게 뛰자!</span>
                    </div>
                </div>
            </div>
            <div class="cheerleader">
                <div class="cheersection">
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">이수진</div>
                            <div class="engname">Lee Su-jin</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/LeeSujin">자세히 보기</a>
                            <img src="/img/fan/LeeSujin.png" alt="이수진">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>기적은 또 하나의 노력이다.</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>2024시즌은 더 높은 곳을 향해<br>응원단과 함께 힘차게 응원해 봅시다!<br>아자아자 화이팅!!</span>
                            </div>
                        </div>
                    </div>
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">김하연</div>
                            <div class="engname">Kim Ha-yeon</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/KimHayeon">자세히 보기</a>
                            <img src="/img/fan/KimHayeon.png" alt="김하연">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>후회없이 살자</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>한 해가 지날수록 더욱 더 열심히<br>응원하는 모습 보여드리도록 하겠습니다!<br>2024년도 함께 화이팅!!</span>
                            </div>
                        </div>
                    </div>
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">정유미</div>
                            <div class="engname">Jeong Yu-mi</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/JeongYumi">자세히 보기</a>
                            <img src="/img/fan/JeongYumi.png" alt="정유미">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>중요한것은 속도가 아니라 방향이다.</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>올해도 여러분들과 함께<br>응원할 수 있어서 영광입니다! 최강삼성 찢자!!♥</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cheersection">
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">김가현</div>
                            <div class="engname">Kim Ga-hyeon</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/KimGahyeon">자세히 보기</a>
                            <img src="/img/fan/KimGahyun.png" alt="김가현">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>결과를 과정으로 증명하라</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>팬 여러분들과 하나된 마음으로 삼성 라이온즈의<br>승리를 위해 최선을 다하겠습니다!</span>
                            </div>
                        </div>
                    </div>
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">이소현</div>
                            <div class="engname">Lee So-hyeon</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/LeeSohyeon">자세히 보기</a>
                            <img src="/img/fan/LeeSohyeon.png" alt="이소현">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>입장바꿔 생각하자</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>삼린이 출신으로써 2024년도 시즌 삼성 라이온즈<br>팬분들과 함게 응원할 수 있게 되어 영광입니다!<br>열심히 응원 할테니 예쁘게 봐주세요!<br>삼성라이온즈 화이팅♥</span>
                            </div>
                        </div>
                    </div>
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">김미소</div>
                            <div class="engname">Kim Mi-so</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/KimMiso">자세히 보기</a>
                            <img src="/img/fan/KimMiso.png" alt="김미소">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>밝게 빛나자</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>삼성 라이온즈의 승리를 위해 새로운 마음과<br>새로운 각오로 여러분들과 함게 응원하겠습니다!<br>화이팅♥</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cheersection">
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">권가영</div>
                            <div class="engname">Kwon Ga-young</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/KwonGayoung">자세히 보기</a>
                            <img src="/img/fan/KwonGayoung.png" alt="권가영">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>꿈을 그리는 사람은 마침내 그 꿈을 닮아간다</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>2024시즌 삼성 라이온즈 팬분들과<br>함께 응원할 수 있어 영광입니다!<br>우승을 위해 여러분들과 열심히 달리겠습니다!<br>최강삼성♥</span>
                            </div>
                        </div>
                    </div>
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">김유정</div>
                            <div class="engname">Kim Yu-jung</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/KimYujung">자세히 보기</a>
                            <img src="/img/fan/KimYujung.png" alt="김유정">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>밝고 긍정적이게 살자</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>제 밝은 에너지를 모아<br>2024시즌 우승을 위해 쏟아내보겠습니다!<br>삼성라이온즈 파이팅♥</span>
                            </div>
                        </div>
                    </div>
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">성효련</div>
                            <div class="engname">Seong Hyo-ryeon</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/SeongHyoryeon">자세히 보기</a>
                            <img src="/img/fan/SungHyoryun.png" alt="성효련">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>천천히 앞만 보고 직진하라</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>더 새로워진 모습으로 승리를 위해 달려가겠습니다!<br>삼성라이온즈 파이팅♥</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cheersection">
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">송예은</div>
                            <div class="engname">Song Yea-eun</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/SongYeaeun">자세히 보기</a>
                            <img src="/img/fan/SongYeeun.png" alt="송예은">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>시도 하기도 전에 겁내지 말자</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>많이 떨리지만 2024년 삼성 라이온즈의 승리를<br>위해 밝은 모습으로 활기차게 응원하겠습니다!!</span>
                            </div>
                        </div>
                    </div>
                    <div class="cheerbox">
                        <div class="cheerleaderinfo">
                            <div class="name">차효민</div>
                            <div class="engname">Cha Hyo-min</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/cheer/ChaHyomin">자세히 보기</a>
                            <img src="/img/fan/ChaHyomin.png" alt="차효민">
                        </div>
                        <div class="cheerdetails">
                            <div class="motto">
                                <div>좌우명</div>
                                <span>할 수 있다는 믿음으로, 최선을 다하자</span>
                            </div>
                            <hr>
                            <div class="resolution">
                                <div>2024 시즌 각오</div>
                                <span>2024시즌 삼성라이온즈와 함께 할 수 있어 영광입니다!<br>승리를 위해 열심히 응원하겠습니다♥</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="allcheer">
                <img src="/img/fan/AllCheer.png" alt="">
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
    </script>
</div>
</body>
</html>
