<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catcher Detail Slider Fragment</title>
</head>
<body>
<div th:fragment="infielder_detail_sliderFragment">
    <div class="slider">
        <div class="slider-inner">
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/박병호.png" alt="박병호">
                    <div class="name">박병호</div>
                    <div class="engname">Park Byung-ho</div>
                </div>
                <a href="/detail/hitter/infielder/ParkByungho">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/전병우.png" alt="전병우">
                    <div class="name">전병우</div>
                    <div class="engname">Jeon Byeong-woo</div>
                </div>
                <a href="/detail/hitter/infielder/JeonByeongwoo">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/안주형.png" alt="안주형">
                    <div class="name">안주형</div>
                    <div class="engname">Ahn Joo-hyung</div>
                </div>
                <a href="/detail/hitter/infielder/AhnJoohyung">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/류지혁.png" alt="류지혁">
                    <div class="name">류지혁</div>
                    <div class="engname">Ryu Ji-hyuk</div>
                </div>
                <a href="/detail/hitter/infielder/RyuJihyuk">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/맥키넌.png" alt="맥키넌">
                    <div class="name">맥키넌</div>
                    <div class="engname">David MacKinnon</div>
                </div>
                <a href="/detail/hitter/infielder/DavidMacKinnon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/김동진.png" alt="김동진">
                    <div class="name">김동진</div>
                    <div class="engname">Kim Dong-jin</div>
                </div>
                <a href="/detail/hitter/infielder/KimDongjin">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/이창용.png" alt="이창용">
                    <div class="name">이창용</div>
                    <div class="engname">Lee Chang-yong</div>
                </div>
                <a href="/detail/hitter/infielder/LeeChangyong">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/이재현.png" alt="이재현">
                    <div class="name">이재현</div>
                    <div class="engname">Lee Jae-hyeon</div>
                </div>
                <a href="/detail/hitter/infielder/LeeJaehyeon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/infielder/김영웅.png" alt="김영웅">
                    <div class="name">김영웅</div>
                    <div class="engname">Kim Young-woong</div>
                </div>
                <a href="/detail/hitter/infielder/KimYoungwoong">더 알아보기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>