<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMSUNG LIONS</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="script.js"></script>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/bookcss/book_real_start.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/slick.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>


</head>

<body>

<div class="wrapper">
    <div id="navbar-container"></div>
    <main>
        <section>
            <div class="book-title">
                <h2>
                    TICKET
                </h2>
                <div class="long"></div>
            </div>
            <div class="book-text">
                <h1>구매하실 티켓을 선택해주세요.</h1>
            </div>
            <div class="book-btn">

                <a href="/book/book_game_info" class="btn">
                    <div class="btn-logo">
                        <img src="/img/logoblue.png" alt="">
                    </div>
                    <div class="btn-text">
                        <div></div>
                        <span><h1>경기예매</h1></span>
                        <div></div>
                        <span><h1>(일반경기)</h1></span>
                    </div>
                    <div style="width: 50px; height: 40px;"></div>
                </a>

            </div>


        </section>
    </main>
    <!--footer-->
    <footer>
        <div class="section footer-in">
            <img src="/img/footer_logo.png" alt="footerlogo" class="footerlogo">

            <div class="footer-con">
                <div class="footer-left">
                    <p>
                        대표이사 : 유정근 | 사업자번호 : 504-81-03755 | 전화번호 : 053) 780-3300<br>
                        개인정보취급방침관리자 : 삼성라이온즈 | 주소 : 대구광역시 수성구 야구전설로 1<br>
                    </p>
                    <span>COPYRIGHT(C) SAMSUNG LIONS. ALL RIGHT RESERVED.</span>
                </div>
                <div class="footer-right">
                    <a href="https://www.instagram.com/samsunglions_baseballclub" target="_blank">
                        <img src="/img/insta.png" alt="인스타" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCMWAku3a3h65QpLm63Jf2pw" target="_blank"><img
                            src="/img/youtube.png" alt="유튜브" /></a>
                    <a href="https://samsunglionsmall.com/" target="_blank"><img src="/img/online.png"
                                                                                 alt="온라인몰" /></a>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer-->
    <script>
        /*header*/
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });

            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /*//header*/
    </script>
    <script>
        // 네비게이션 로드
        fetch('navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            });

        // 푸터 로드
        fetch('footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            });
    </script>
</div>

</body>
</html>