<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>경기기록( 현재 ) </title>

  <!-- Google Icon -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!--css-->
  <link rel="stylesheet" type="text/css" href="/css/clubcss/board/detail.css" />
  <link rel="stylesheet" type="text/css" href="/css/slick.css">
  <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <!--js-->
  <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="/js/slick.js"></script>
  <script type="text/javascript" src="/js/slick.min.js"></script>

</head>

<body>

<div class="wrapper">
  <th:block th:replace="fragments/nav :: navFragment"></th:block>
  <main>
    <section>
      <div class="section-table">
        <div class="board_list_wrap">
          <div class="container">
            <h1>공지사항</h1>
              <div class="tittle">
                  <a href="/samsung"><span class="material-symbols-outlined">home</span></a>
                  <span class="material-symbols-outlined">chevron_right</span>
                  <a href="/club/slintro">구단</a>
                  <span class="material-symbols-outlined">chevron_right</span>
                  <a href="/club/board/paging">공지사항</a>
              </div>
            <div class="board-details">
              <h2 th:text="${board.boardTitle}">제목 부분</h2>
              <div class="board-line1">
                <div>작성자: <span th:text="${board.boardWriter}"></span></div>
                <div>작성일: <span th:text="${board.formattedBoardCreatedTime}"></span></div>
                <div>조회수: <span th:text="${board.boardHits}"></span></div>
              </div>
              <div>
                <textarea readonly th:text="${board.boardContents}"></textarea>
              </div>
              <div>첨부 파일:
                <a th:href="@{/club/board/download/{fileName}(fileName=${board.fileName})}" th:text="${board.fileName}"></a>
              </div>
              <div class="content-bottom-btn">
                <button onclick="listReq()">목록</button>

                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <button onclick="updateReq()">수정</button>
                <button onclick="deleteReq()">삭제</button>
                </th:block>

              </div>
            </div>
            <div class="navigation-links">
              <div th:if="${previousBoard != null}">
                <a th:href="@{/club/board/{id}(id=${previousBoard.id})}" class="prev-link">이전 게시글: <span th:text="${previousBoard.boardTitle}"></span></a>
              </div>
              <div th:if="${nextBoard != null}">
                <a th:href="@{/club/board/{id}(id=${nextBoard.id})}" class="next-link">다음 게시글: <span th:text="${nextBoard.boardTitle}"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--footer-->
  <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
  <!--//footer-->
  <script>
    /*header*/
    document.querySelectorAll('.menu > li').forEach(menuItem => {
        menuItem.addEventListener('mouseenter', () => {
            document.querySelector('.hideback').classList.add('show-hideback');
        });

        menuItem.addEventListener('mouseleave', () => {
            document.querySelector('.hideback').classList.remove('show-hideback');
        });
    });
    /*//header*/
    function listReq() {
    const page = /*[[${currentPage}]]*/ [[${currentPage}]]; // 실제 페이지 값을 가져오는 코드로 변경하세요
    location.href = "/club/board/paging?page=" + page;
    }

    function updateReq() {
    const id = /*[[${board.id}]]*/ [[${board.id}]]; // 실제 ID를 가져오는 코드로 변경하세요
    location.href = "/club/board/update/" + id + "?page=" + /*[[${currentPage}]]*/ [[${currentPage}]];
    }

    function deleteReq() {
    const id = /*[[${board.id}]]*/ [[${board.id}]]; // 실제 ID를 가져오는 코드로 변경하세요
    location.href = "/club/board/delete/" + id + "?page=" + /*[[${currentPage}]]*/ [[${currentPage}]];
    }
  </script>

</div>

</body>

</html>
