<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Admin Fan Gallery</title>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/fancss/fan_gallery.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>


</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="gallerytitle">
                <div class="gallerytitle-inner">
                    <h2>갤러리</h2>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form action="/fan/fan_gallery/add" method="post" enctype="multipart/form-data"
                              onsubmit="return validateUpload(this)" class="form1">
                            <div>
                                <label for="name">이름 :</label>
                                <input type="text" id="name" name="name" required>
                            </div>
                            <div>
                                <label for="title">제목 :</label>
                                <input type="text" id="title" name="title" required>
                            </div>
                            <div>
                                <label for="file">사진등록 :</label>
                                <input type="file" id="file" name="file" required onchange="validateFileSize(this)">
                                <button type="submit">등록하기</button>
                            </div>
                        </form>
                    </th:block>
                </div>
            </div>


            <div class="gallery">
                <div th:each="image : ${images}" class="gallery-item">
                    <div class="gallery-item-inner">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <button class="delete-button" th:onclick="'deleteImage(' + ${image.id} + ')'">X</button>
                        </th:block>
                        <h2 th:text="${image.title}"></h2>
                        <img th:src="@{/fan/fan_gallery/image/{id}(id=${image.id})}" alt="Image">
                        <a th:href="@{/fan/fan_gallery/download/{id}(id=${image.id})}" class="download-button">Download</a>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <span th:if="${currentPage > 0}">
                    <a th:href="@{/fan/fan_gallery(page=${currentPage - 1})}" class="arrow-button">&laquo;</a>
                </span>
                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/fan/fan_gallery(page=${i})}" th:text="${i + 1}"
                       th:classappend="${i == currentPage} ? ' active' : ''"></a>


                </span>
                <span th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/fan/fan_gallery(page=${currentPage + 1})}" class="arrow-button">&raquo;</a>
                </span>
            </div>
            <div class="search-container">
                <form action="/fan/fan_gallery/search" method="get" class="form2">
                    <label for="search">검색 :</label>
                    <input type="text" id="search" name="name">
                    <button type="submit">검색</button>
                </form>
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */

        function validateFileSize(input) {
            const file = input.files[0];
            if (file.size > 50 * 1024 * 1024) { // 50MB
                alert("File size exceeds 50MB. Please select a smaller file.");
                input.value = ""; // Clear the input
            }
        }

        function handleUploadError(responseText) {
            alert(responseText);
        }

        function validateUpload(form) {
            const fileInput = form.file;
            const file = fileInput.files[0];
            if (file && file.size > 50 * 1024 * 1024) { // 50MB
                alert("File size exceeds 50MB. Please select a smaller file.");
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }

        function deleteImage(imageId) {
            if (confirm('이미지를 삭제하시겠습니까?')) {
                fetch(`/fan/fan_gallery/delete/${imageId}`, {
                    method: 'DELETE'
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert('이미지 삭제에 실패했습니다.');
                    }
                });
            }
        }
    </script>
</div>
</body>
</html>
