<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catcher Detail Slider Fragment</title>
</head>
<body>
<div th:fragment="catcher_detail_sliderFragment">
    <div class="slider">
        <div class="slider-inner">
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/catcher/강민호.png" alt="강민호">
                    <div class="name">강민호</div>
                    <div class="engname">Kang Min-ho</div>
                </div>
                <a href="/detail/hitter/catcher/KangMinho">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/catcher/김재성.png" alt="김재성">
                    <div class="name">김재성</div>
                    <div class="engname">Kim Jae-seong</div>
                </div>
                <a href="/detail/hitter/catcher/KimJaeseong">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/catcher/이병헌.png" alt="이병헌">
                    <div class="name">이병헌</div>
                    <div class="engname">Lee Byung-heon</div>
                </div>
                <a href="/detail/hitter/catcher/LeeByungheon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/catcher/김도환.png" alt="김도환">
                    <div class="name">김도환</div>
                    <div class="engname">Kim Do-hwan</div>
                </div>
                <a href="/detail/hitter/catcher/KimDohwan">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/catcher/강민호.png" alt="강민호">
                    <div class="name">강민호</div>
                    <div class="engname">Kang Min-ho</div>
                </div>
                <a href="/detail/hitter/catcher/KangMinho">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/catcher/김재성.png" alt="김재성">
                    <div class="name">김재성</div>
                    <div class="engname">Kim Jae-seong</div>
                </div>
                <a href="/detail/hitter/catcher/KimJaeseong">더 알아보기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>