<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
<footer th:fragment="footerFragment">
    <div class="footer-in">
        <img src="/img/teamlogo/footer_logo.png" alt="footerlogo" class="footerlogo">

        <div class="footer-con">
            <div class="footer-left">
                <p>
                    대표이사 : 유정근 | 사업자번호 : 504-81-03755 | 전화번호 : 053) 780-3300<br>
                    개인정보취급방침관리자 : 삼성라이온즈 | 주소 : 대구광역시 수성구 야구전설로 1<br>
                </p>
                <span>COPYRIGHT(C) SAMSUNG LIONS. ALL RIGHT RESERVED.</span>
            </div>
            <div class="footer-right">
                <a href="https://www.instagram.com/samsunglions_baseballclub" target="_blank">
                    <img src="/img/insta.png" alt="인스타"/>
                </a>
                <a href="https://www.youtube.com/channel/UCMWAku3a3h65QpLm63Jf2pw" target="_blank"><img
                        src="/img/youtube.png" alt="유튜브"/></a>
                <a href="https://samsunglionsmall.com/" target="_blank"><img src="/img/online.png"
                                                                             alt="온라인몰"/></a>
            </div>
        </div>


    </div>
</footer>
</body>
</html>