<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pitcher Detail Slider Fragment</title>
</head>
<body>
<div th:fragment="pitcher_detail_sliderFragment">
    <div class="slider">
        <div class="slider-inner">
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/오승환.png" alt="오승환">
                    <div class="name">오승환</div>
                    <div class="engname">Oh Seung-hwan</div>
                </div>
                <a href="/detail/pitcher/OhSeunghwan">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/임창민.png" alt="임창민">
                    <div class="name">임창민</div>
                    <div class="engname">Lim Chang-min</div>
                </div>
                <a href="/detail/pitcher/LimChangmin">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/백정현.png" alt="백정현">
                    <div class="name">백정현</div>
                    <div class="engname">Baek Jung-hyun</div>
                </div>
                <a href="/detail/pitcher/BaekJunghyun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/김대우.png" alt="김대우">
                    <div class="name">김대우</div>
                    <div class="engname">Kim Dae-woo</div>
                </div>
                <a href="/detail/pitcher/KimDaewoo">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/최성훈.png" alt="최성훈">
                    <div class="name">최성훈</div>
                    <div class="engname">Choi Sung-hoon</div>
                </div>
                <a href="/detail/pitcher/ChoiSunghoon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/김재윤.png" alt="김재윤">
                    <div class="name">김재윤</div>
                    <div class="engname">Kim Jae-yun</div>
                </div>
                <a href="/detail/pitcher/KimJaeyun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/우승현.png" alt="우승현">
                    <div class="name">이승현</div>
                    <div class="engname">Lee Seung-hyun</div>
                </div>
                <a href="/detail/pitcher/RightSeunghyun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/투태훈.png" alt="투태훈">
                    <div class="name">김태훈</div>
                    <div class="engname">Kim Tae-hun</div>
                </div>
                <a href="/detail/pitcher/KimTaehun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/코너 시볼드.png" alt="코너시볼드">
                    <div class="name">코너 시볼드</div>
                    <div class="engname">Connor Seabold</div>
                </div>
                <a href="/detail/pitcher/ConnorSeabold">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/데니 레예스.png" alt="데니레예스">
                    <div class="name">데니 레예스</div>
                    <div class="engname">Denyi Reyes</div>
                </div>
                <a href="/detail/pitcher/DenyiReyes">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/최지광.png" alt="최지광">
                    <div class="name">최지광</div>
                    <div class="engname">Choi Ji-gwang</div>
                </div>
                <a href="/detail/pitcher/ChoiJigwang">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/최하늘.png" alt="최하늘">
                    <div class="name">최하늘</div>
                    <div class="engname">Choi Ha-neul</div>
                </div>
                <a href="/detail/pitcher/ChoiHaneul">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/원태인.png" alt="원태인">
                    <div class="name">원태인</div>
                    <div class="engname">Won Tae-in</div>
                </div>
                <a href="/detail/pitcher/WonTaein">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/이승민.png" alt="이승민">
                    <div class="name">이승민</div>
                    <div class="engname">Lee Seung-min</div>
                </div>
                <a href="/detail/pitcher/LeeSeungmin">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/좌승현.png" alt="좌승현">
                    <div class="name">이승현</div>
                    <div class="engname">Lee Seung-hyun</div>
                </div>
                <a href="/detail/pitcher/LeftSeunghyun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/이호성.png" alt="이호성">
                    <div class="name">이호성</div>
                    <div class="engname">Lee Ho-seong</div>
                </div>
                <a href="/detail/pitcher/LeeHoseong">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/pitcher/육선엽.png" alt="육선엽">
                    <div class="name">육선엽</div>
                    <div class="engname">Yook Sun-yeop</div>
                </div>
                <a href="/detail/pitcher/YookSunyeop">더 알아보기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>