<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Detail Slider Fragment</title>
</head>
<body>
<div th:fragment="staff_detail_sliderFragment">
    <div class="slider">
        <div class="slider-inner">
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/박진만.png" alt="박진만">
                    <div class="name">박진만</div>
                    <div class="engname">Park Jin-man</div>
                </div>
                <a href="/detail/staff/ParkJinman">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/이병규.png" alt="이병규">
                    <div class="name">이병규</div>
                    <div class="engname">Lee Byung-kyu</div>
                </div>
                <a href="/detail/staff/LeeByungkyu">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/정민태.png" alt="정민태">
                    <div class="name">정민태</div>
                    <div class="engname">Chung Min-tae</div>
                </div>
                <a href="/detail/staff/ChungMintae">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/권오준.png" alt="권오준">
                    <div class="name">권오준</div>
                    <div class="engname">Kwon Oh-jun</div>
                </div>
                <a href="/detail/staff/KwonOhjun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/이진영.png" alt="이진영">
                    <div class="name">이진영</div>
                    <div class="engname">Lee Jin-young</div>
                </div>
                <a href="/detail/staff/LeeJinyoung">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/배영섭.png" alt="배영섭">
                    <div class="name">배영섭</div>
                    <div class="engname">Bae Yeong-Seop</div>
                </div>
                <a href="/detail/staff/BaeYeongSeop">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/강명구.png" alt="강명구">
                    <div class="name">강명구</div>
                    <div class="engname">Kang Myung-gu</div>
                </div>
                <a href="/detail/staff/KangMyunggu">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/손주인.png" alt="손주인">
                    <div class="name">손주인</div>
                    <div class="engname">Son Joo-in</div>
                </div>
                <a href="/detail/staff/SonJooin">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/박찬도.png" alt="박찬도">
                    <div class="name">박찬도</div>
                    <div class="engname">Park Chan-do</div>
                </div>
                <a href="/detail/staff/ParkChando">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/정대현.png" alt="정대현">
                    <div class="name">정대현</div>
                    <div class="engname">Chong Tae-hyon</div>
                </div>
                <a href="/detail/staff/ChongTaehyon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/조동찬.png" alt="조동찬">
                    <div class="name">조동찬</div>
                    <div class="engname">Cho Dong-chan</div>
                </div>
                <a href="/detail/staff/ChoDongchan">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/박한이.png" alt="박한이">
                    <div class="name">박한이</div>
                    <div class="engname">Park Han-yi</div>
                </div>
                <a href="/detail/staff/ParkHanyi">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/staff/정현욱.png" alt="정현욱">
                    <div class="name">정현욱</div>
                    <div class="engname">Jong Hyun-wook</div>
                </div>
                <a href="/detail/staff/JongHyunwook">더 알아보기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>