<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김태훈 상세 정보</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/detailcss/playerdetail.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>

    <!-- JS -->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="member-area">
                <div class="area1">

                    <div class="playerphoto">
                        <img src="/img/player/pitcher/투태훈.png" alt="김태훈 사진">
                    </div>

                    <div class="playercoment">
                        <div class="playername">
                            <div class="number">27</div>
                            <div>
                                <div class="koname">김태훈</div>
                                <div class="engname">Kim Tae-hun</div>
                            </div>
                        </div>
                        <div class="playerinfo">투수 / 우투우타</div><br>
                        <div class="allinfo">
                            <div class="info1">
                                <div class="birth1">생 년 월 일</div>
                                <div class="height1">키 / 몸 무 게</div>
                                <div class="school1">출 신 학 교</div>
                                <div class="spec1">입 단 년 도</div>
                                <div class="pay1">연 봉</div>
                                <div class="comment">코 멘 트</div>
                            </div>
                            <div>
                                <div class="birth">&nbsp;: 1992년 03월 02일</div>
                                <div class="height">&nbsp;: 187cm / 97kg</div>
                                <div class="school">&nbsp;: 남부민초-대신중-부경고</div>
                                <div class="spec">&nbsp;: 2023년 입단</div>
                                <div class="pay">&nbsp;: 1억 7000만원</div>
                            </div>
                        </div>
                        <span class="commenttext">2023년 키움 히어로즈와의 트레이드 보상선수로 함께하게 되었다. 이전 소속팀에서 팀의 필승조로 활약한만큼 삼성 라이온즈에서도 좋은 투구를 보여주기를 기대한다. 속구와 슬라이더를 주로 구사하지만 커브, 스플리터, 체인지업등 다양한 구종을 보유하고 있는 투수이다.</span>
                    </div>
                </div>
            </div>
            <div class="members-area">
                <th:block th:replace="~{fragments/pitcher_detail_slider :: pitcher_detail_sliderFragment}"></th:block>
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
        let slider = document.querySelector(".slider");
        let innerSlider = document.querySelector(".slider-inner");
        let pressed = false;
        let startX;
        let scrollLeft;

        slider.addEventListener("mousedown", (e) => {
            pressed = true;
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = innerSlider.offsetLeft;
            slider.classList.add("active");
        });

        slider.addEventListener("mouseleave", () => {
            pressed = false;
            slider.classList.remove("active");
        });

        slider.addEventListener("mouseup", () => {
            pressed = false;
            slider.classList.remove("active");
        });

        slider.addEventListener("mousemove", (e) => {
            if (!pressed) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = x - startX;
            innerSlider.style.left = `${scrollLeft + walk}px`;
            checkBoundary();
        });

        function checkBoundary() {
            let outer = slider.getBoundingClientRect();
            let inner = innerSlider.getBoundingClientRect();

            if (parseInt(innerSlider.style.left) > 0) {
                innerSlider.style.left = "0px";
            } else if (inner.right < outer.right) {
                innerSlider.style.left = `-${inner.width - outer.width}px`;

            }
        }

        // 중앙에 배치할 슬라이드 인덱스 설정
        const targetIndex = 7; // 중앙에 배치할 슬라이드의 인덱스 (0부터 시작)

        function centerSlide(index) {
            const slides = document.querySelectorAll('.slider-item');
            const targetSlide = slides[index];
            const sliderRect = slider.getBoundingClientRect();
            const targetRect = targetSlide.getBoundingClientRect();

            const offset = targetRect.left - sliderRect.left - (sliderRect.width / 2) + (targetRect.width / 2);
            innerSlider.scrollLeft += offset;
        }

        // 슬라이더 로드 후 중앙에 배치
        window.addEventListener('load', () => {
            centerSlide(targetIndex);
        });

    </script>
</div>
</body>
</html>
