<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이승현 상세 정보</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/detailcss/playerdetail.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>

    <!-- JS -->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="member-area">
                <div class="area1">

                    <div class="playerphoto">
                        <img src="/img/player/pitcher/좌승현.png" alt="좌승현 사진">
                    </div>

                    <div class="playercoment">
                        <div class="playername">
                            <div class="number">57</div>
                            <div>
                                <div class="koname">이승현</div>
                                <div class="engname">Lee Seung-hyun</div>
                            </div>
                        </div>
                        <div class="playerinfo">투수 / 좌투좌타</div><br>
                        <div class="allinfo">
                            <div class="info1">
                                <div class="birth1">생 년 월 일</div>
                                <div class="height1">키 / 몸 무 게</div>
                                <div class="school1">출 신 학 교</div>
                                <div class="spec1">입 단 년 도</div>
                                <div class="pay1">연 봉</div>
                                <div class="comment">코 멘 트</div>
                            </div>
                            <div>
                                <div class="birth">&nbsp;: 2002년 05월 19일</div>
                                <div class="height">&nbsp;: 183cm / 102kg</div>
                                <div class="school">&nbsp;: 대구남도초-경복중-대구상원고</div>
                                <div class="spec">&nbsp;: 2021년 입단</div>
                                <div class="pay">&nbsp;: 7000만원</div>
                            </div>
                        </div>
                        <span class="commenttext">2021년 1차 지명 좌완 투수. 고교시절부터 주목받은 좋은 구위와 제구력으로 입단이후부터 활약중이다. 어린나이임에도 불구하고 마운드에서 침착한 투구를 선보이며 훈련으로 다져진 하체를 기반으로 한 묵직한 구위의 공을 던진다. 패스트볼을 주무기로 던지며 좋은 슬라이더와 커브도 가지고 있다. 투구의 기복이 심한편이나 자기 자신만의 밸런스를 찾아가면서 점차 팀의 투수진에 중요한 역할로 자리매김 하고있다.</span>
                        <div class="insta">
                            <a href="https://www.instagram.com/lee_54__/" target="_blank">
                                <img src="/img/insta.png" alt="인스타그램 아이콘">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="members-area">
                <th:block th:replace="~{fragments/pitcher_detail_slider :: pitcher_detail_sliderFragment}"></th:block>
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
        let slider = document.querySelector(".slider");
        let innerSlider = document.querySelector(".slider-inner");
        let pressed = false;
        let startX;
        let scrollLeft;

        slider.addEventListener("mousedown", (e) => {
            pressed = true;
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = innerSlider.offsetLeft;
            slider.classList.add("active");
        });

        slider.addEventListener("mouseleave", () => {
            pressed = false;
            slider.classList.remove("active");
        });

        slider.addEventListener("mouseup", () => {
            pressed = false;
            slider.classList.remove("active");
        });

        slider.addEventListener("mousemove", (e) => {
            if (!pressed) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = x - startX;
            innerSlider.style.left = `${scrollLeft + walk}px`;
            checkBoundary();
        });

        function checkBoundary() {
            let outer = slider.getBoundingClientRect();
            let inner = innerSlider.getBoundingClientRect();

            if (parseInt(innerSlider.style.left) > 0) {
                innerSlider.style.left = "0px";
            } else if (inner.right < outer.right) {
                innerSlider.style.left = `-${inner.width - outer.width}px`;

            }
        }

        // 중앙에 배치할 슬라이드 인덱스 설정
        const targetIndex = 14; // 중앙에 배치할 슬라이드의 인덱스 (0부터 시작)

        function centerSlide(index) {
            const slides = document.querySelectorAll('.slider-item');
            const targetSlide = slides[index];
            const sliderRect = slider.getBoundingClientRect();
            const targetRect = targetSlide.getBoundingClientRect();

            const offset = targetRect.left - sliderRect.left - (sliderRect.width / 2) + (targetRect.width / 2);
            innerSlider.scrollLeft += offset;
        }

        // 슬라이더 로드 후 중앙에 배치
        window.addEventListener('load', () => {
            centerSlide(targetIndex);
        });

    </script>
</div>
</body>
</html>
