section{
    width: 100%;
    height: 350px;
    border: 1px solid;
}
.titlebox-freeboard{
    width: 100%;
    height: 50px;
    border: 1px solid;
}
.titlearea-freeboard{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}
.titlearea-freeboard>h1{
    font-size: 35px;
}
.tablebox-freeboard{
    width: 1280px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tablebox-freeboard>table{
    width: 800px;
    height: 300px;
    border: 1px solid;
    margin: 0 auto;
}
.tablebox-freeboard>table>tr{
    width: 800px;
    height: 100px;
    border: 1px solid;
}
.tablebox-freeboard>table>tr>td{
    width: 33%;
    height: 100px;
    border: 1px solid;
}