*{
    margin : 5px;
    
    box-sizing: border-box;
}
body{margin:0;}
ul{ margin:0px; padding :0; list-style: none;}
a{ text-decoration: none; color:black;}

/* 구글 아이콘 */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


/*  */
.wrapper{
    border : 1px solid;
}

/* header */
.wrapper>header{
    border : 1px solid;
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* header>.logo */
.wrapper>header>.header-left{
    width:200px;
    height : 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper>header>.header-left>img{
    border : 1px solid;
    width:80%;
    height:80%;
}

.wrapper>header>.header-right{
    width:100%;
}

/*  */
.wrapper>header>.header-right>nav{
    height :45px;
    display : flex;
    justify-content: space-between;

}
.wrapper>header>.header-right>nav>.menu{
    width: 800px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border : 0;
    background-color: white;
}
.wrapper>header>.header-right>nav>.menu>li{
    border : 1px solid;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis:120px;
    text-align: center;
    position:relative;
    
}
.wrapper>header>.header-right>nav>.menu>li>a{
    border : 1px solid;
    display:block;
}
.wrapper>header>.header-right>nav>.menu>li>.submenu{
    background-color: white;
    position:absolute;
    left:0px;
    top:35px;
    width:100%;
    border : 1px solid;
    display:none;
}
.wrapper>header>.header-right>nav>.menu>li>.submenu>li{

    height:35px;
    line-height:35px;
}
.wrapper>header>.header-right>nav>.menu>li>.submenu>li>a{
    
}

.wrapper>header>.header-right>nav>.menu:hover .submenu{
    display:block;
    background-color: white;
}
/* nav > rightmenu  로그인 | 회원가입  */
.wrapper>header>.header-right>nav>.rightmenu{

    display:flex;
    justify-content: flex-end;
    align-items: center;
    border : 0 ;
    height: auto;
    

}
.wrapper>header>.header-right>nav>.rightmenu>li{
    border : 0;
    position:relative;
    
    width:auto;
    text-align: center;
    font-size:0.8rem;
    
    border: 0px solid;
}
.wrapper>header>.header-right>nav>.rightmenu>li:nth-child(2){
    width:10px;

}
.wrapper>header>.header-right>nav>.rightmenu>li::after{

    position:absolute;
    left:0;
    top:0;   

}
.wrapper>header>.header-right>nav>.rightmenu>li:first-child::after{
    
    content:"";

}
.wrapper>header>.header-right>nav>.rightmenu>li>a{
    border : 0;
    border: 0px solid;
}


/* main */
.wrapper>main{
    
    /* height : 700px; */
}


.wrapper>main>section{
    align-items: center;
    
    
}
.wrapper>main>section>.section-nav{
    border-bottom: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper>main>section>.section-nav>li{
    
    margin-right: 50px;
    
    justify-content: center;
    align-items: center;
}
.wrapper>main>section>.section-nav>li>a{

    font-size: 25px;
}
.wrapper>main>section>.section-nav>li>a:hover{

    color: red;
}

/* Section 좌석 배치도랑 지도 */

.wrapper>main>section>.main-section{
    
    display: flex;
}
.wrapper>main>section>.main-section>.main-left{
    margin-top: 90px;
    margin-left: 100px;

}
.wrapper>main>section>.main-section>.main-left>img{
    
    border-radius: 15%;
    width: 800px;
    height: 550px;

}
.wrapper>main>section>.main-section>.main-right{

    margin-top: 90px;
    margin-left: 80px;

}
/* 오시는 길 */
.wrapper>main>section>.main-session2{
    width: 1600px;
    margin-left: 120px;
    margin-top: 150px;
    height: 60px;
    border-radius: 15px;

}
.wrapper>main>section>.main-session2>.session2-top{
    
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color:rgb(104, 179, 248);
    color: black;
    
}
.wrapper>main>section>.main-session2>.session2-bottom{
    border: 1px solid;
    display: none;
    border-radius: 15px;
}

.wrapper>main>section>.main-session2>.session2-bottom>Ul>h3{
    color: red;
}

.wrapper>main>section>.main-session2>.session2-bottom.active{
    
    display: block;

}
/* 아이콘 회전 */
.session2-toggle-btn span.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}



/* footer */
.wrapper>footer{

    height : 300px;

}

