<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입 연습 구현</h1>

    <form action="/user/example" method="post">
        USERNAME :<input type="text" name="userName" /><br>
        PASSWORD :<input type="password" name="password" /><br>
        addr :<input type="text" name="addr" /><br>
        adultphone :<input type="text" name="adultphone" /><br>
        birth :<input type="text" name="birth" /><br>
        email :<input type="text" name="email" /><br>
        gender :<input type="text" name="gender" /><br>
        realname :<input type="text" name="realname" /><br>

        <button>회원가입</button>
    </form>
</body>
</html>