@charset "utf-8";

@font-face {
    font-family: 'PreT';
    font-weight: 100;
    font-style: normal;
    src: url('/font/Pretendard-Thin.eot');
    src: local('��'),
    url('/font/Pretendard-Thin.woff') format('woff'),
    url('/font/Pretendard-Thin.woff2') format('woff2'),
    url('/font/Pretendard-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Pre';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Pretendard-Light.eot');
    src: local('��'),
    url('/font/Pretendard-Light.woff') format('woff'),
    url('/font/Pretendard-Light.woff2') format('woff2'),
    url('/font/Pretendard-Light.otf') format('opentype');
}

@font-face {
    font-family: 'PreR';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Pretendard-Regular.eot');
    src: local('��'),
    url('/font/Pretendard-Regular.woff') format('woff'),
    url('/font/Pretendard-Regular.woff2') format('woff2'),
    url('/font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PreM';
    font-weight: 600;
    font-style: normal;
    src: url('/font/Pretendard-Medium.eot');
    src: local('��'),
    url('/font/Pretendard-Medium.woff') format('woff'),
    url('/font/Pretendard-Medium.woff2') format('woff2'),
    url('/font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PreSB';
    font-weight: 700;
    font-style: normal;
    src: url('/font/Pretendard-SemiBold.eot');
    src: local('��'),
    url('/font/Pretendard-SemiBold.woff') format('woff'),
    url('/font/Pretendard-SemiBold.woff2') format('woff2'),
    url('/font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'PreEB';
    font-weight: 900;
    font-style: normal;
    src: url('/font/Pretendard-ExtraBold.eot');
    src: local('��'),
    url('/font/Pretendard-ExtraBold.woff') format('woff'),
    url('/font/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/font/Pretendard-ExtraBold.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
}

/* main */
.wrapper > main {
    /* width: auto;
    height : 1000px;
    background-image: url('/img/다운로드.jpg'),url('/img/구자욱.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%, 100% 100%; 
    background-position:0px 0px ,0px 0px; */
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/img/오승환.jpg') left top no-repeat,
    url('/img/구자욱.jpg') right top no-repeat,
    url('/img/backgroundex1.jpg');

    background-color: rgb(255, 255, 255, 0.7);


    background-size: auto 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.wrapper > main > section {
    margin: auto;

}

.wrapper > main > section > .children_join {
    width: 800px;
    height: 850px;
    margin: auto;


    padding: 60px 68px 40px;
    border-radius: 10px;
    color: rgb(7, 7, 82);
    background-color: rgb(255, 255, 255, 0.7);
}

.wrapper > main > section > .children_join > .join-block {
    padding: 10px;
}

.wrapper > main > section > .children_join > .join-block >form> div {
    margin-left: 40px;
    margin-bottom: 10px;
}

.wrapper > main > section > .children_join > .join-block >form> div input::placeholder {
    transition: .1s;
    outline: 0;

}

.wrapper > main > section > .children_join > .join-block >form> div input:focus::placeholder {
    opacity: 0;
    left: 15px;
    top: 5px;
    font-size: 0.6rem;


}

.wrapper > main > section > .children_join > .join {
    text-align: center;
    font-size: 2rem;
}

.wrapper > main > section > .children_join > .join-block > .info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;

}

.wrapper > main > section > .children_join > .join-block >form> div > .form-label {
    margin: 0;
    display: inline-block;
    width: 160px;
    font-family: PreR;
}

.wrapper > main > section > .children_join > .join-block >form> div > .form-control {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #81ecec;
    padding-left: 10px;
}

.wrapper > main > section > .children_join > .join-block >form> .clause {
    border: 1px solid #81ecec;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;

}

.wrapper > main > section > .children_join > .join-block >form> .clause > div > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper > main > section > .children_join > .join-block >form> .clause > .clause {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.wrapper > main > section > .children_join > .join-block >form> div > .btn {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: rgb(81, 211, 243);
    border-radius: 5px;
    border: 0px;
    background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
    background-position: left;
    background-size: 200%;
    color: white;
    font-size: 1rem;
    height: 40px;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.wrapper > main > section > .children_join > .join-block >form> div > .btn > .btn_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper > main > section > .children_join > .join-block >form> .birthday {
}

.wrapper > main > section > .children_join > .join-block >form> .gender > .radio {
    display: flex;
    margin-left: 10px;


}

.wrapper > main > section > .children_join > .join-block >form> .gender {
    display: flex;


}

