<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheer Detail Slider Fragment</title>
</head>
<body>
<div th:fragment="cheer_detail_sliderFragment">
    <div class="slider">
        <div class="slider-inner">
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/KimSangheon2.png" alt="김상헌">
                    <div class="name">김상헌</div>
                    <div class="engname">Kim Sang-heon</div>
                </div>
                <a href="/detail/cheer/KimSangheon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/LeeSujin.png" alt="이수진">
                    <div class="name">이수진</div>
                    <div class="engname">Lee Su-jin</div>
                </div>
                <a href="/detail/cheer/LeeSujin">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/KimHayeon.png" alt="김하연">
                    <div class="name">김하연</div>
                    <div class="engname">Kim Ha-yeon</div>
                </div>
                <a href="/detail/cheer/KimHayeon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/JeongYumi.png" alt="정유미">
                    <div class="name">정유미</div>
                    <div class="engname">Jeong Yu-mi</div>
                </div>
                <a href="/detail/cheer/JeongYumi">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/KimGahyun.png" alt="김가현">
                    <div class="name">김가현</div>
                    <div class="engname">Kim Ga-hyeon</div>
                </div>
                <a href="/detail/cheer/KimGahyun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/LeeSohyeon.png" alt="이소현">
                    <div class="name">이소현</div>
                    <div class="engname">Lee So-hyeon</div>
                </div>
                <a href="/detail/cheer/LeeSohyeon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/KimMiso.png" alt="김미소">
                    <div class="name">김미소</div>
                    <div class="engname">Kim Mi-so</div>
                </div>
                <a href="/detail/cheer/KimMiso">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/KwonGayoung.png" alt="권가영">
                    <div class="name">권가영</div>
                    <div class="engname">Kwon Ga-young</div>
                </div>
                <a href="/detail/cheer/KwonGayoung">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/KimYujung.png" alt="김유정">
                    <div class="name">김유정</div>
                    <div class="engname">Kim Yu-jung</div>
                </div>
                <a href="/detail/cheer/KimYujung">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/SungHyoryun.png" alt="성효련">
                    <div class="name">성효련</div>
                    <div class="engname">Sung Hyo-ryun</div>
                </div>
                <a href="/detail/cheer/SungHyoryun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/SongYeeun.png" alt="송예은">
                    <div class="name">송예은</div>
                    <div class="engname">Song Yea-eun</div>
                </div>
                <a href="/detail/cheer/SongYeeun">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/fan/ChaHyomin.png" alt="차효민">
                    <div class="name">차효민</div>
                    <div class="engname">Cha Hyo-min</div>
                </div>
                <a href="/detail/cheer/ChaHyomin">더 알아보기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>