<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catcher Detail Slider Fragment</title>
</head>
<body>
<div th:fragment="outfielder_detail_sliderFragment">
    <div class="slider">
        <div class="slider-inner">
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/김헌곤.png" alt="김헌곤">
                    <div class="name">김헌곤</div>
                    <div class="engname">Kim Heon-gon</div>
                </div>
                <a href="/detail/hitter/outfielder/KimHeongon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/김동엽.png" alt="김동엽">
                    <div class="name">김동엽</div>
                    <div class="engname">Kim Dong-yub</div>
                </div>
                <a href="/detail/hitter/outfielder/KimDongyub">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/구자욱.png" alt="구자욱">
                    <div class="name">구자욱</div>
                    <div class="engname">Koo Ja-wook</div>
                </div>
                <a href="/detail/hitter/outfielder/KooJawook">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/이성규.png" alt="이성규">
                    <div class="name">이성규</div>
                    <div class="engname">Lee Sung-gyu</div>
                </div>
                <a href="/detail/hitter/outfielder/LeeSunggyu">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/타태훈.png" alt="타태훈">
                    <div class="name">김태훈</div>
                    <div class="engname">Kim Tae-hoon</div>
                </div>
                <a href="/detail/hitter/outfielder/KimTaehoon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/김성윤.png" alt="김성윤">
                    <div class="name">김성윤</div>
                    <div class="engname">Kim Seong-yoon</div>
                </div>
                <a href="/detail/hitter/outfielder/KimSeongyoon">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/윤정빈.png" alt="윤정빈">
                    <div class="name">윤정빈</div>
                    <div class="engname">Yoon Jeong-bin</div>
                </div>
                <a href="/detail/hitter/outfielder/YoonJeongbin">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/김지찬.png" alt="김지찬">
                    <div class="name">김지찬</div>
                    <div class="engname">Kim Ji-chan</div>
                </div>
                <a href="/detail/hitter/outfielder/KimJichan">더 알아보기</a>
            </div>
            <div class="slider-item">
                <div class="blur-effect">
                    <img src="/img/player/hitter/outfielder/김현준.png" alt="김현준">
                    <div class="name">김현준</div>
                    <div class="engname">Kim Hyeon-joon</div>
                </div>
                <a href="/detail/hitter/outfielder/KimHyeonjoon">더 알아보기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>