@charset "utf-8";

@font-face {
    font-family: 'PreT';
    font-weight: 100;
    font-style: normal;
    src: url('/font/Pretendard-Thin.eot');
    src: local('��'),
    url('/font/Pretendard-Thin.woff') format('woff'),
    url('/font/Pretendard-Thin.woff2') format('woff2'),
    url('/font/Pretendard-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Pre';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Pretendard-Light.eot');
    src: local('��'),
    url('/font/Pretendard-Light.woff') format('woff'),
    url('/font/Pretendard-Light.woff2') format('woff2'),
    url('/font/Pretendard-Light.otf') format('opentype');
}

@font-face {
    font-family: 'PreR';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Pretendard-Regular.eot');
    src: local('��'),
    url('/font/Pretendard-Regular.woff') format('woff'),
    url('/font/Pretendard-Regular.woff2') format('woff2'),
    url('/font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PreM';
    font-weight: 600;
    font-style: normal;
    src: url('/font/Pretendard-Medium.eot');
    src: local('��'),
    url('/font/Pretendard-Medium.woff') format('woff'),
    url('/font/Pretendard-Medium.woff2') format('woff2'),
    url('/font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PreSB';
    font-weight: 700;
    font-style: normal;
    src: url('/font/Pretendard-SemiBold.eot');
    src: local('��'),
    url('/font/Pretendard-SemiBold.woff') format('woff'),
    url('/font/Pretendard-SemiBold.woff2') format('woff2'),
    url('/font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'PreEB';
    font-weight: 900;
    font-style: normal;
    src: url('/font/Pretendard-ExtraBold.eot');
    src: local('��'),
    url('/font/Pretendard-ExtraBold.woff') format('woff'),
    url('/font/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/font/Pretendard-ExtraBold.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
}

/* main */
.wrapper > main {
    /* width: auto;
    height : 1000px;
    background-image: url('/img/다운로드.jpg'),url('/img/구자욱.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%, 100% 100%; 
    background-position:0px 0px ,0px 0px; */
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/img/오승환.jpg') left top no-repeat,
    url('/img/구자욱.jpg') right top no-repeat,
    url('/img/backgroundex1.jpg');

    background-color: rgb(255, 255, 255, 0.7);


    background-size: auto 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.wrapper > main > section {
    margin: auto;

}

.wrapper > main > section > .adult_join {

    width: 800px;
    height: 650px;
    margin: auto;


    padding: 60px 68px 40px;
    border-radius: 10px;
    color: rgb(7, 7, 82);
    background-color: rgb(255, 255, 255, 0.7);
}

.adult_join .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.adult_join .container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.adult_join .container p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.adult_join .container p strong {
    color: #333;
    width: 30%;
}

.adult_join .container p span {
    color: #333;
    width: 70%;
}

.adult_join .container .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    background-color: #007BFF;
}

.adult_join .container .btn-secondary {
    background-color: #6c757d;
}

.adult_join .container .btn:hover {
    background-color: #0056b3;
}

.adult_join .container .btn-secondary:hover {
    background-color: #5a6268;
}