@charset "utf-8";

@font-face {
    font-family: 'PreT';
    font-weight: 100;
    font-style: normal;
    src: url('/font/Pretendard-Thin.eot');
    src: local('��'),
        url('/font/Pretendard-Thin.woff') format('woff'),
        url('/font/Pretendard-Thin.woff2') format('woff2'),
        url('/font/Pretendard-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Pre';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Pretendard-Light.eot');
    src: local('��'),
        url('/font/Pretendard-Light.woff') format('woff'),
        url('/font/Pretendard-Light.woff2') format('woff2'),
        url('/font/Pretendard-Light.otf') format('opentype');
}

@font-face {
    font-family: 'PreR';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Pretendard-Regular.eot');
    src: local('��'),
        url('/font/Pretendard-Regular.woff') format('woff'),
        url('/font/Pretendard-Regular.woff2') format('woff2'),
        url('/font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PreM';
    font-weight: 600;
    font-style: normal;
    src: url('/font/Pretendard-Medium.eot');
    src: local('��'),
        url('/font/Pretendard-Medium.woff') format('woff'),
        url('/font/Pretendard-Medium.woff2') format('woff2'),
        url('/font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PreSB';
    font-weight: 700;
    font-style: normal;
    src: url('/font/Pretendard-SemiBold.eot');
    src: local('��'),
        url('/font/Pretendard-SemiBold.woff') format('woff'),
        url('/font/Pretendard-SemiBold.woff2') format('woff2'),
        url('/font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'PreEB';
    font-weight: 900;
    font-style: normal;
    src: url('/font/Pretendard-ExtraBold.eot');
    src: local('��'),
        url('/font/Pretendard-ExtraBold.woff') format('woff'),
        url('/font/Pretendard-ExtraBold.woff2') format('woff2'),
        url('/font/Pretendard-ExtraBold.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
}



/* main */
.section-main {
    display: flex;
}

.section-mid {


    background-color: rgba(255, 255, 255, 0.8);
}

.section-mid-form {

        margin-top: 230px;
        width: 1100px;
        margin-left: 155px;
        margin-right: 157px;

}

.section-mid-form form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 100%;

    position: relative;
}

.section-mid-form form input[type="text"],
.section-mid-form form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section-mid-form form input[type="submit"],
.section-mid-form form input[type="button"] {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.section-mid-form form input[type="submit"]:hover,
.section-mid-form form input[type="button"]:hover {
    background: #0056b3;
}

label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

/* main-mid */
.section-left {
    background-color: rgba(171, 213, 253, 0.3); /* 백그라운드 컬러 설정 */
    width: 300px; /* 원하는 너비 설정 */
    height: 1300px; /* 부모 요소의 높이를 참조 */
    margin-top: 100px; /* 상단 여백 설정 */

}

.section-right {
    background-color: rgba(171, 213, 253, 0.3); /* 백그라운드 컬러 설정 */
    width: 300px; /* 원하는 너비 설정 */
    height: 1300px; /* 고정 높이 설정 */
    margin-top: 100px;

}

/* 게시판 디자인 */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}


