<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>경기기록( 현재 ) </title>

    <!-- Google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/fan/faqboard/update.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/slick.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>

</head>

<body>

<div class="wrapper">
    <th:block th:replace="fragments/nav :: navFragment"></th:block>
    <main>
        <section>
            <div class="section-table">
                <div class="board_list_wrap">

                    <div class="section-mid-form">
                        <form id="updateForm" action="/fan/faqboard/update" method="post" name="updateForm" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${boardUpdate.id}">
                            <input type="hidden" name="currentPage" th:value="${currentPage}">
                            <a th:href="@{/fan/faqboard/{id}(id=${boardUpdate.id})}"><span class="material-symbols-outlined">close</span></a>
                            글쓴이: <input type="text" name="faqWriter" th:value="${username}" readonly> <br>
                            게시글 비밀번호: <input type="text" name="boardPass" id="boardPass"> <br>
                            제목: <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"> <br>
                            내용: <textarea name="boardContents" cols="30" rows="10" th:text="${boardUpdate.boardContents}"></textarea> <br>
                            <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
                            <label for="file" class="file-input-label">파일 첨부</label>
                            <input type="file" name="file" id="file" class="file-input" onchange="displayFileName()">
                            <span class="file-name" id="file-name">파일이 선택되지 않았습니다.</span>
                            <br>
                            <br>
                            <input type="button" value="글수정" onclick="boardUpdate()">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--footer-->
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <!--//footer-->
    <script>
        /*header*/
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });

            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        //
        function displayFileName() {
            const fileInput = document.getElementById('file');
            const fileName = document.getElementById('file-name');
            fileName.textContent = fileInput.files.length > 0 ? fileInput.files[0].name : '파일이 선택되지 않았습니다.';
        }
        const boardUpdate = () => {
                const boardTitle = document.querySelector('input[name="boardTitle"]').value;
                if (!boardTitle) {
                    alert('제목을 입력해주세요.');
                } else {
                    document.updateForm.submit();
                }
            }

    </script>
    <script th:inline="javascript">
        const boardUpdate = () => {
          const pass = /*[[${boardUpdate.boardPass}]]*/ 'defaultPass';
          const inputPass = document.getElementById("boardPass").value;
          if (pass === inputPass) {
            document.updateForm.submit();
          } else {
            alert("비밀번호가 일치하지 않습니다!");
          }
        }
    </script>

</div>

</body>

</html>
