<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Cheer Main</title>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <link rel="stylesheet" type="text/css" href="/css/playercss/playermain.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>

</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="titlebox">
                <div class="titlearea"><h2>투수진</h2><br>
                    <h1>SAMSUNG LIONS 마운드를 빛내 주는 투수진들을 소개합니다</h1></div>
            </div>
            <div class="player">
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">오승환</div>
                            <div class="engname">Oh Seung-hwan</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/OhSeunghwan">자세히 보기</a>
                            <img src="/img/player/pitcher/오승환.png" alt="오승환">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>'끝판대장' 마운드의 마지막 투수</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">임창민</div>
                            <div class="engname">Lim Chang-min</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/LimChangmin">자세히 보기</a>
                            <img src="/img/player/pitcher/임창민.png" alt="임창민">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>베테랑의 품격을 지닌 삼성의 새로운 철벽</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">백정현</div>
                            <div class="engname">Baek Jung-hyun</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/BaekJunghyun">자세히 보기</a>
                            <img src="/img/player/pitcher/백정현.png" alt="백정현">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>포커페이스로 상대 타자를 잡아낸다</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">김대우</div>
                            <div class="engname">Kim Dae-woo</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/KimDaewoo">자세히 보기</a>
                            <img src="/img/player/pitcher/김대우.png" alt="김대우">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>마운드의 허리를 지키는 잠수함 투수</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">최성훈</div>
                            <div class="engname">Choi Sung-hoon</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/ChoiSunghoon">자세히 보기</a>
                            <img src="/img/player/pitcher/최성훈.png" alt="최성훈">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>타자를 제압하는 좌완 스페셜리스트</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">김재윤</div>
                            <div class="engname">Kim Jae-yun</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/KimJaeyun">자세히 보기</a>
                            <img src="/img/player/pitcher/김재윤.png" alt="김재윤">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>끝판대장의 뒤를 이을 최정상급 마무리 투수</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">이승현</div>
                            <div class="engname">Lee Seung-hyun</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/RightSeunghyun">자세히 보기</a>
                            <img src="/img/player/pitcher/우승현.png" alt="우승현">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>야구 인생의 터닝포인트를 꿈꾼다.</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">김태훈</div>
                            <div class="engname">Kim Tae-hun</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/KimTaehun">자세히 보기</a>
                            <img src="/img/player/pitcher/투태훈.png" alt="투태훈">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>꾸준한 활약이 기대되는 투수</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">코너 시볼드</div>
                            <div class="engname">Connor Seabold</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/ConnorSeabold">자세히 보기</a>
                            <img src="/img/player/pitcher/코너 시볼드.png" alt="코너시볼드">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>타자를 압도하는 우완 정통파 선발투수</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">데니 레예스</div>
                            <div class="engname">Denyi Reyes</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/DenyiReyes">자세히 보기</a>
                            <img src="/img/player/pitcher/데니 레예스.png" alt="데니레예스">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>좋은 제구력이 장점인 피네스 피쳐</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">최지광</div>
                            <div class="engname">Choi Ji-gwang</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/ChoiJigwang">자세히 보기</a>
                            <img src="/img/player/pitcher/최지광.png" alt="최지광">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>KBO 최고의 투수를 꿈꾼다</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">최하늘</div>
                            <div class="engname">Choi Ha-neul</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/ChoiHaneul">자세히 보기</a>
                            <img src="/img/player/pitcher/최하늘.png" alt="최하늘">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>젊은 피로 승부하는 쓰리쿼터 투수</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">원태인</div>
                            <div class="engname">Won Tae-in</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/WonTaein">자세히 보기</a>
                            <img src="/img/player/pitcher/원태인.png" alt="원태인">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>마운드 위의 포효하는 사자</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">이승민</div>
                            <div class="engname">Lee Seung-min</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/LeeSeungmin">자세히 보기</a>
                            <img src="/img/player/pitcher/이승민.png" alt="이승민">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>꾸준한 노력으로 성장하는 라이온즈의 선발투수</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">이승현</div>
                            <div class="engname">Lee Seung-hyun</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/LeftSeunghyun">자세히 보기</a>
                            <img src="/img/player/pitcher/좌승현.png" alt="좌승현">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>다재다능한 투수의 원석</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">이호성</div>
                            <div class="engname">Lee Ho-seong</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/LeeHoseong">자세히 보기</a>
                            <img src="/img/player/pitcher/이호성.png" alt="이호성">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>안정적인 운영능력의 선발투수</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">육선엽</div>
                            <div class="engname">Yook Sun-yeop</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/pitcher/YookSunyeop">자세히 보기</a>
                            <img src="/img/player/pitcher/육선엽.png" alt="육선엽">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>삼성 마운드 미래의 ''육각형 투수''</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all">
                <img src="/img/타올디자인.jpg" alt="">
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
    </script>
</div>
</body>
</html>
