<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Cheer Main</title>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <link rel="stylesheet" type="text/css" href="/css/playercss/staffmain.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>

</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="titlebox">
                <div class="titlearea">
                    <h2>감독 & 코칭스태프</h2><br>
                    <h1>근성이 강한 SAMSUNGLIONS 코칭스텝들을 소개합니다</h1></div>
            </div>
            <div class="leaderbox">
                <div class="leaderinfo">
                    <div class="leadername">박진만</div>
                    <div class="leadereng">Park Jin-man</div>
                </div>
                <div class="leaderphoto">
                    <a href="/detail/staff/ParkJinman">자세히 보기</a>
                    <img src="/img/player/staff/박진만.png" alt="박진만">
                </div>
                <div class="leaderdetails">
                    <div class="motto">
                        <div>내유외강 스타일의 준비된 지도자</div>
                    </div>
                </div>
            </div>
            <div class="player">
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">이병규</div>
                            <div class="engname">Lee Byung-kyu</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/LeeByungkyu">자세히 보기</a>
                            <img src="/img/player/staff/이병규.png" alt="이병규">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>따듯하고 다정한 코치로의 길</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">정민태</div>
                            <div class="engname">Chung Min-tae</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/ChungMintae">자세히 보기</a>
                            <img src="/img/player/staff/정민태.png" alt="정민태">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>KBO 우완 정점의 레전드,<br>이제는 삼성의 투수진을 맡는다</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">권오준</div>
                            <div class="engname">Kwon Oh-jun</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/KwonOhjun">자세히 보기</a>
                            <img src="/img/player/staff/권오준.png" alt="권오준">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>단호하지만 다정한 투수들의 버팀목</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">이진영</div>
                            <div class="engname">Lee Jin-young</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/LeeJinyoung">자세히 보기</a>
                            <img src="/img/player/staff/이진영.png" alt="이진영">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>라이온즈 타격을 책임질 국민우익수</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">배영섭</div>
                            <div class="engname">Bae Yeong-Seop</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/BaeYeongSeop">자세히 보기</a>
                            <img src="/img/player/staff/배영섭.png" alt="배영섭">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>코치로서의 커리어하이를 향해</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">강명구</div>
                            <div class="engname">Kang Myung-gu</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/KangMyunggu">자세히 보기</a>
                            <img src="/img/player/staff/강명구.png" alt="강명구">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>경험에 기반한 작전의 대가</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">손주인</div>
                            <div class="engname">Son Joo-in</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/SonJooin">자세히 보기</a>
                            <img src="/img/player/staff/손주인.png" alt="손주인">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>친근한 코칭으로 보듬어주는 코치</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">박찬도</div>
                            <div class="engname">Park Chan-do</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/ParkChando">자세히 보기</a>
                            <img src="/img/player/staff/박찬도.png" alt="박찬도">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>코치로서의 새출발이 기대된다</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">정대현</div>
                            <div class="engname">Chong Tae-hyon</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/ChongTaehyon">자세히 보기</a>
                            <img src="/img/player/staff/정대현.png" alt="정대현">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>삼성의 미래를 밝힐 새로운 퓨처스 리더</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playersection">
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">조동찬</div>
                            <div class="engname">Cho Dong-chan</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/ChoDongchan">자세히 보기</a>
                            <img src="/img/player/staff/조동찬.png" alt="조동찬">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>야구 인생 2막 시작을 알리다</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">박한이</div>
                            <div class="engname">Park Han-yi</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/ParkHanyi">자세히 보기</a>
                            <img src="/img/player/staff/박한이.png" alt="박한이">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>"삼성 라이온즈는 박한이<br>입단 이전과 이후로 나뉜다"</div>
                            </div>
                        </div>
                    </div>
                    <div class="playerbox">
                        <div class="playerinfo">
                            <div class="name">정현욱</div>
                            <div class="engname">Jong Hyun-wook</div>
                        </div>
                        <div class="photo">
                            <a href="/detail/staff/JongHyunwook">자세히 보기</a>
                            <img src="/img/player/staff/정현욱.png" alt="정현욱">
                        </div>
                        <div class="playerdetails">
                            <div class="motto">
                                <div>불펜장의 따듯한 마음을 담당한다</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all">
                <img src="/img/타올디자인.jpg" alt="">
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
    </script>
</div>
</body>
</html>
