<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fan Gallery</title>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/fancss/fan_gallery_user.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
    <main>
        <section>
            <div class="gallerytitle">
                <div class="gallerytitle-inner">
                    <h2>갤러리</h2>
                </div>
            </div>

            <div class="gallery">
                <div th:each="image : ${images}" class="gallery-item">
                    <div class="gallery-item-inner">
                        <h2 th:text="${image.title}"></h2>
                        <img th:src="@{/fan/fan_gallery/image/{id}(id=${image.id})}" alt="Image">
                    </div>
                </div>
            </div>
            <div class="pagination">
                <span th:if="${currentPage > 0}">
                    <a th:href="@{/fan/fan_gallery(page=${currentPage - 1})}" class="arrow-button">&laquo;</a>
                </span>
                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/fan/fan_gallery(page=${i})}" th:text="${i + 1}"
                       th:classappend="${i == currentPage} ? ' active' : ''"></a>
                </span>
                <span th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/fan/fan_gallery(page=${currentPage + 1})}" class="arrow-button">&raquo;</a>
                </span>
            </div>
            <div class="search-container">
                <form action="/fan/fan_gallery/search" method="get" class="form2">
                    <label for="search">검색 :</label>
                    <input type="text" id="search" name="name">
                    <button type="submit">검색</button>
                </form>
            </div>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

    <script>
        /* header */
        document.querySelectorAll('.menu > li').forEach(menuItem => {
            menuItem.addEventListener('mouseenter', () => {
                document.querySelector('.hideback').classList.add('show-hideback');
            });
            menuItem.addEventListener('mouseleave', () => {
                document.querySelector('.hideback').classList.remove('show-hideback');
            });
        });
        /* header */
    </script>
</div>
</body>
</html>
